doctype html
html
   head
      link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
      link(rel='stylesheet', href='/css/admin.css')
      link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
   body
      .container
         .signedin
         .jumbotron.text-center
            p
               | Authentication
            a.btn.btn-danger(href= url)
               <span class="fa fa-google-plus"></span> Authenticate with Google