doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="WA Sports")
  
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", crossorigin="anonymous")
  
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="/javascripts/main.js")
    
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavBar")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand#logo(href="#") WA Sports
        div
          .collapse.navbar-collapse#myNavBar
            ul.nav.navbar-nav
              li: a#baseballbutton(href="/baseball") Baseball
              li: a#basketballbutton(href="/basketball") Basketball
              li: a#soccerbutton(href="/soccer") Soccer
              li: a#tennisbutton(href="tennis") Tennis
              li: a#volleyballbutton(href="volleyball") Volleyball
    .container-fluid#nopaddingcontainer
      #upcomingevents
        h1
          | Upcoming Events
      section#games
        - for(var i=0; i<games.length; i++){
          .row
            .col-md-2.col-md-offset-3.col-xs-3.col-xs-offset-1
              if games[i].team1 == "Wasatch"
                img.teamlogo(src="/images/WAshield.jpg")
            .col-md-2.col-xs-4
                .gamedetails
                  .gameinfo
                    if games[i].sport == "Soccer"
                      img.sportsIcon(src="/images/soccerIcon.png")
                    else if games[i].sport == "Baseball"
                      img.sportsIcon(src="/images/baseballIcon.png")
                    else if games[i].sport == "Volleyball"
                      img.sportsIcon(src="/images/  volleyballIcon.png")
                    else if games[i].sport == "Basketball"
                      img.sportsIcon(src="/images/basketballIcon.png")
                    else if games[i].sport == "Tennis"
                      img.sportsIcon(src="/images/tennisIcon.png")
                    h6= games[i].time
                    h6= games[i].place     
            .col-md-2.col-xs-3
              if games[i].team2 == "Wasatch"
                img.teamLogo.rightlogo(src="/images/WAshield.jpg") 
              else if games[i].team2 == "Utah-Military-Academy"
                img.teamlogo.rightlogo(src="/images/Utah-Military-Academy.jpg")
                                
        - }
             

